
*,::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    
}

.Imagen-formu{
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: left;
    background: #ffffff  url('../Home/img/logo.pagina.png') no-repeat center;
    background-size: cover;
}

.formulario{
    width: 50%;
    height: 100%;
    margin: 0;
    float: left;
    background: #ffffff;
    display: flex;
    justify-content: center;

}

.formulario form{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.formulario h2{
    font-size: 4em;
    color: rgb(207, 62, 36);
    margin: 20px 0;
    font-weight: bold;
}

.formulario form > input{
width: 100%;
padding: 10px 0;
font-size: 1.2em;
font-weight: bold;
color: rgb(11, 11, 58);
background-color: rgb(244, 227, 208);
}

.formulario label{
width: 100%;
font-size: 18px;
font-weight: 700;
margin: 20px 0;
}

.check{
    width: 100%;
    margin: 20px 0;
}

.formulario button[type="submit"] {
    width: 100%;
background-color: rgb(174, 43, 20);
color: #ffffff;
border: none;
font-size: 18px;
padding: 8px 30px;
font-weight: bold;


}

.formulario button[type="submit"]:hover {
    background-color: rgb(227, 219, 218);
    color: rgb(174, 43, 20);
    
    border: 2px solid rgb(174, 43, 20);
    font-weight: bold;
}


@media only screen and (max-width:700px) {
    .Imagen-formu{
        /* //la imagen se oculta */
        display: none;
    }

    .formulario{
        /* el formulario toma el 100% de la caja ya q estaba en 50 */
        width: 100%;
    }

    .formulario form{
        /* ancho del 95 para q quede un breve espacio */
        width: 95%;
        /* arriba abajo cero y alos costados 1 */
        padding: 0 1em; 
    }

}

.enlace p{
    font-size: 1.5em;
}

.register-link{
    font-size: 1.6;
    text-decoration: none;

}